* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#bg-image {
	background-image: url(https://images.pexels.com/photos/3182774/pexels-photo-3182774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg {
	background-color: rgba(0,0,0,0.5);
	height: inherit;
}

h1{
	font-size: 5vw;
}

@media screen and (max-width: 480px) {
  h1 {
  	font-size: 2rem;
  }
}